* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 50%;
    padding: 2vw 2vw;
}